@import 'palette';

$bg-color: $color2;
$text-color: $color1;
$shadow-color: $text-color;

html { 
    background: url(images/pattern.png) repeat; 
    height: 100%;
}

#main {
    width: 50%;
    margin: 0 auto;
    min-width: 600px;
    /*background: linear-gradient(to bottom, rgba($bg-color, .1) 10%,  rgba($bg-color, .8) 60%, $bg-color 100%);*/
    background-color: rgba($bg-color, .98);
    color: $text-color;

    #intro {
        padding: 0 2rem;

        h2 {
            margin: 0;
            font-size: 3rem;
            color: $color4;
        }

        p {
            font-size: 1.2rem;
        }
    }

    #links {
        margin: 2rem 0;
        background-color: lighten($color5, 20%);
        box-shadow: 0 3px 3px $shadow-color;
        margin: 2rem 0;
    }

    #links {
        a {
            text-decoration: none;
            color: $text-color;
            margin: 5px;
            display: inline-block;

            i {
                margin-right: 5px;
                font-size: 3rem;
                color: $color4;
            }
        }
    }
}

#splash {
    width: 55%;
    margin: 0 auto;
    min-width: 650px;
    background: $color4;
    background: linear-gradient(160deg, $color4 61%, $color5 100%);
    height: 400px;
    box-shadow: $shadow-color 0 0 5px;
    display: flex;
    justify-content: center;
    position: relative;

    h1 {
        margin: auto 0;
        font-size: 4rem;
        font-weight: 700;
        color: $color3;
        text-shadow: darken($color4, 20%) 2px 2px 5px; 
    }
}
