@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400|Roboto&display=swap');
@import 'palette';

h1, h2 {
    font-family: Raleway;
    font-weight: 100;
    color: $text-highlight-color;
}

body {
    font-family: Roboto;
    color: $text-color;
}

strong {
    color: $text-highlight-color;
}

a {
    color: $link-color;
}